{% extends "app/main.html" %}

{% block main %}
  {% include "app/components/search.html" with form_classes_extra="mb-8" %}
  {% if success %}
    <p class="py-4 text-center text-xl text-green-600">Success!</p>
  {% else %}
    <form action="{% url "app:query" object_list.0.youtube_query.query %}"
          method="post"
          class="justify-center flex flex-row space-x-6 text-sm pb-8">
      {% for field in email_form %}
        {% csrf_token %}
        <div class="flex {% if forloop.last %}w-1/2{% endif %} flex-row items-center">
          <label class="pr-4" for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
    </form>
  {% endif %}
  <div class="space-y-14">
    {% for video in object_list %}
      {% include "app/components/video.html" with video=video %}
    {% endfor %}
  </div>
{% endblock main %}
